/*td {border: 1px #DDD solid; padding: 5px; cursor: pointer;}*/
.selected {
    background-color: lightslategray;
    color: #FFF;
}

#scroll{
    width:600px;
}

#scroll2{
    width:600px;
}

#links{
    width:600px;
}

#products{
    width:600px;
}

#shoplist .col-md-3{
    border-style: solid;
    border-width: 1px;
    height: 85px;
}
/*
table{
    border:1px solid black;
    width:100%;
}
th, td{
    width:100px;
    border:1px solid black;
}
*/
/*
thead>tr{
    position:relative;
    display:block;
}
tbody{
    display:block;
    height:300px;
    overflow:auto;
}*/