td {border: 1px #DDD solid; padding: 5px; cursor: pointer;}
.selected {
    background-color: brown;
    color: #FFF;
}

#scroll{
    width:600px;

}

#odabir{
    width:500px;

}

table{
    border:1px solid black;
    width:100%;
}
th, td{
    width:100px;
    border:1px solid black;
}
thead>tr{
    position:relative;
    display:block;
}
tbody{
    display:block;
    height:300px;
    overflow:auto;
}